.headerTitle {
  text-align: center;
  text-transform: uppercase;
  font-size: 36px;
  color: #000;
  font-weight: 600;
}

/* .trendingItem {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.trendingItemLink {
  text-decoration: none;
}

.titleMovie {
  text-align: center;
  padding-left: 7px;
  padding-right: 7px;
  color: #3b0303;
} */
